<div class="sticky-top">
  <div class="card " *ngIf="album">
  <!-- <pre> {{ album }}</pre> -->
    <img src="{{album.url}}" alt="Group Music" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{album.title}}</h5>
      <p class="card-text">{{album.name}}</p>
      <button (click)="play(album)" class=" btn btn-primary">Play &gt;&gt;</button>

        <ul class="list-group">
          <!-- <li class="list-group-item">Lorem, ipsum dolor.</li> -->
          <h2>Playlist</h2>
          <li class="list-group-item" *ngFor="let song of songs">
            <ng-container *ngIf="song; else noSong">
              {{ song }}
            </ng-container>
            <ng-template #noSong>
              <li class="list-group-item">
                Pas de Liste
              </li>
            </ng-template>
          </li>

          <ng-template #noSong>
            <li class="list-group-item">
              Pas de Liste
            </li>
          </ng-template>
        </ul>


    </div>
  </div>
</div>
