<div class=" row content">
  <div class=" col-sm-4">
    <app-album-details [album]="selectedAlbum" (onPlay)="playAlbum($event)"></app-album-details>

  </div>
  <div class=" col-sm-8">
    <h1>{{ titlePage }}</h1>

    <div class="card" *ngFor="let album of albums; let i = index; let isOdd = odd; let isEven = even" >
      <div class="card-header" [ngClass]="{'bg-primary' : isOdd, 'bg-success': isEven}">
        <!--
          Lorsque vous utilisez la directive "*ngFor" dans Angular pour itérer sur une liste d'élément
          vous utiliser des variables locales pour accéder à certaines informations relatives à
          l'itération en cours

          <div *ngFor="let item of items; let i = index; let isEven = even; let isOdd = odd;"></div>

          Trois informations sont disponbles pour chaque itération:
          1- index: une variable représentant l'indice (index) de l'élément dans la liste.
          2- even: une variable booléenne déterminant si l'indice en cours est pair.
          3- odd: une variable booléenne déterminant si l'indice en cours est impair.
         -->
        {{i + 1}} {{ album.ref }}
        <span *ngIf="album.id === status"><i class="bi bi-play-fill"></i></span>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ album.title }}</h5>
        <h5 class="card-text">{{ album.description }}</h5>
        <ul class="list-inline" *ngIf="album.tags">
          <li class="list-inline-item" *ngFor="let tag of album.tags">
            <span class="badge bg-info" >{{ tag }}</span>
          </li>
        </ul>
        <a href="#" class="btn btn-outline-dark">en</a>
        <ng-template [ngIf]="album.like">
          <img src="../../assets/svg/si-glyph-heart.svg" alt="Like icon" style="width: 1.5rem; margin-left: 0.5rem">
          <span style="margin-right: 0.5rem">{{album.like}}</span>
        </ng-template>
        <ng-template [ngIf]="album.duration">
          <img src="../../assets/svg/si-glyph-timer.svg" alt="Time icon" style="width: 1.5rem; margin-left: 0.5rem">
          <span style="margin-right: 0.5rem">{{album.duration}}</span>
        </ng-template>
        <button class="btn btn-dark"  style="margin: 0.5rem" (click)="onSelect(album)">Details</button>
      </div>
    </div>


  </div>
</div>
